---
import "../styles/global.css";

import SocialLinks from "../components/SocialLinks.astro";
import LanguageButton from "../components/LanguageButton.astro";
import NavLinks from "../components/NavLinks.astro";
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<NavLinks lang={lang}/>
		<SocialLinks />
		<LanguageButton lang={lang}/>
		<main>
			<slot />
		</main>
	</body>
	<script>
		import { gsap } from 'gsap';
		import { ScrollTrigger } from 'gsap/ScrollTrigger';

		gsap.registerPlugin(ScrollTrigger);

		gsap.from('#landing h1', { 
			opacity: 0, 
			y: 50, 
			duration: 1,
			delay: 0.2
		});

		gsap.from('#landing h2', { 
			opacity: 0, 
			y: 30, 
			duration: 1,
			delay: 0.4
		});
		
		gsap.from('#landing p', { 
			opacity: 0, 
			y: 30, 
			duration: 1,
			delay: 0.6
		});
		
		gsap.from('#landing-buttons a', { 
			opacity: 0, 
			y: 30, 
			duration: 1,
			delay: 0.8,
			stagger: 0.2
		});

		const sections = ['#about', '#experience', '#projects', '#skills', '#contact'];
		const navLinks = document.querySelectorAll('nav a');

		sections.forEach(section => {
			gsap.from(`${section} .section-title`, {
			scrollTrigger: {
				trigger: section,
				start: 'top 80%',
			},
			opacity: 0,
			x: -50,
			duration: 0.8
		});
    
		gsap.from(`${section} > div > *:not(.section-title)`, {
			scrollTrigger: {
				trigger: section,
				start: 'top 70%',
			},
			opacity: 0,
			y: 50,
			duration: 0.8,
			stagger: 0.2
			});

			ScrollTrigger.create({
				trigger: section,
				start: 'top center',
				end: 'bottom center',
				onEnter: () => updateNav(section),
				onEnterBack: () => updateNav(section),
				onLeaveBack: () => updateNav(""),
			});
		});


		function updateNav(sectionId) {
			navLinks.forEach(link => {
				link.classList.remove('active');
				if (link.getAttribute('href') === `${sectionId}`) {
				link.classList.add('active');
				}
			});
    	}

		gsap.from('#bottom-navbar', {
			scrollTrigger: {
				trigger: '#footer',
				start: 'top bottom',
				end: 'bottom bottom',
				onEnter: () => {
					gsap.to('#bottom-navbar', {
						opacity: 0,
						duration: 0.3,
					});
				},
				onLeaveBack: () => {
					gsap.to('#bottom-navbar', {
						opacity: 1,
						duration: 0.3,
					});
				},
			},
		});
	</script>
</html>
